/*1 no section phone responsev CSS*/

@media (max-width: 600px) {
  .div-a {
    padding: 0px auto;
  }
  .image-a {
    height: 45px;
    width: 45px;
  }
  .menu-item {
    padding-left: 10px;
    gap: 15px;
  }
  .menu {
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 5px;
  }
  .menu-a {
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 5px;
  }
  .div-e {
    height: auto;
    width: 100%;
    margin: 3% 0%;
  }
  .div-f {
    height: auto;
    width: 100%;
    margin: 3% 0%;
  }
  .div-g {
    height: auto;
    width: 100%;
    margin: 3% 0%;
  }
  .footer {
    font-size: 12px;
    padding-bottom: 10px;
  }
}
