body {
  padding: 0%;
  margin: 0%;
}

/*1 no section CSS*/

.section-a {
  background-color: #547670;
}
.div-a {
  padding: 0px 15%;
  display: flex;
  justify-content: space-between;
}
.image-a {
  height: 120px;
  width: 120px;
}
.menu-item {
  list-style: none;
  display: flex;
  gap: 60px;
  align-items: center;
}
.menu {
  text-decoration: none;
  color: #000000;
  border: 2px solid #7fe3d3;
  padding: 10px 20px;
  background-color: #7fe3d3;
  border-radius: 5px;
}
.menu-a {
  text-decoration: none;
  color: #ffff;
  border: 2px solid #f1615a;
  padding: 10px 20px;
  background-color: #f1615a;
  border-radius: 5px;
  transition: 20ms;
}
.menu-a:hover {
  background-color: #03a9f4;
  border-color: #03a9f4;
}

/*2 no section CSS*/

.image-b {
  height: 100%;
  width: 100%;
}

/*3 no Section CSS*/

.section-c {
  padding: 5%;
}
.head {
  text-align: center;
  font-size: 32px;
  margin: 0px;
}
.pragraph {
  text-align: center;
  font-size: 20px;
}
.section-c-a {
  display: flex;
}
.div-b {
  flex-direction: column;
  box-shadow: 10px 10px 30px gray;
  height: auto;
  width: 22%;
  margin-left: 3%;
  border-radius: 5px;
}
.div-b-a {
  height: 50%;
}
.div-img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.div-b-b {
  height: 37%;
  padding-left: 20px;
}
.sub-head {
  margin-bottom: 0px;
}
.pragraph-a {
  margin-top: 10px;
}
.link {
  text-decoration: none;
  font-size: 17px;
  font-weight: 700px;
  color: #ffff;
  border: 2px solid #ff5733;
  padding: 3px 8px;
  background-color: #ff5733;
  border-radius: 4px;
  transition: 20ms;
}
.link:hover {
  border-color: #7fe3d3;
  background-color: #7fe3d3;
  color: #000000;
}
.li-a {
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
}
.li-b {
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
}
.li-c {
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
}
.li-d {
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
}

/*4 no section CSS*/

.section-d {
  background-color: #3d4d45;
  width: 100%;
  height: auto;
}
.section-d-a {
  display: flex;
}
